{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% block mainblock %}

<div class="col-xl-4 col-sm-6 p-2">
  <div class="card card-common h-100">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="{{package.image_url}}" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{package.hotel_name}}</h5>
      <p class="card-text">{{package.description}}</p>
      <p class="card-text">Nights:       {{package.duration}}</p>
      <p class="card-text">Package Cost: ${{package.packageCost()|formatmoney}}</p>
      <a href="/packages" class="btn btn-primary">Back to Packages</a>
      <a href="/view?hotel_name='{{package.hotel_name}}'" class="btn btn-primary">Book</a>

    </div>
  </div>
</div>
{% endblock %}