{% extends "base.html" %}

<body>

  {% block mainblock %}

  {% for package in all_packages %}
  <!-- {{ package|pprint }} -->
  <div class="col-xl-4 col-md-6 col-sm-12 p-2">
    <div class="card card-common h-100">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{package.image_url}}" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{package.hotel_name}}</h5>

        <!-- | safe inserted below to intro vulnearability -->
        <p id="hack" value="{{package.description|safe}}" class="card-text">{{package.description|safe}}</p>
        <p class="card-text">Unit Price: {{package.unit_cost}}</p>


        <a href="/viewPackageDetail/{{package.hotel_name}}" class="btn btn-primary">Details</a>
        <a href="/view?hotel_name='{{package.hotel_name}}'" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  
<!-- Introduce a vulnerability by clicking the button below -->
<div>
  <a href="/redirect?query=1" class="btn btn-primary">Back to Top</a>
</div>

  {% endblock %}